<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Ajax 계산기 </h1>

    <form id="calcform" th:action="@{/my_calc}">

        <input type="number" name="x" placeholder="x" />

        <select name="calc" class="calc">
            <option value=""> 연산 선택 </option>
            <option name="op" value="+"> + </option>
            <option name="op" value="-"> - </option>
            <option name="op" value="x"> * </option>
            <option name="op" value="/"> / </option>
        </select>

        <input type="number" name="y" placeholder="y" />

        <button type="submit"> 계산 </button>

    </form>

    <ul class="result">
        <!--<li> </li>-->
    </ul>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        
        document.querySelector("#calcform").addEventListener("submit", async(e) => {
            e.preventDefault();
            const form = e.currentTarget;

            const backend = form.getAttribute("action");

            let response = null;

            // 선택된 연산자만 추출
            const option = form.querySelector('.calc');
            const op = option.options[option.selectedIndex].value;
            console.log(op);
            
            // 가상의 Form 데이터를 생성해 Axios 전송
            const formData = new FormData(form);

            try {
                // 연산자에 따라 GET, POST, PUT, DELETE 선택
                // 전송방식에 따라 axios 에서 파라미터를 철하는 방법이 다르다
                
                switch( op ) {
                    case "+" :
                        response = await axios.get(backend, {
                            // GET 방식으로 전송할 때는 params 속성을 사용해 JSON 객체로 구성해야 한다
                            params: Object.fromEntries(formData)
                        });
                        break;
                    case "-" :
                        response = await axios.post(backend,formData);
                        break;
                    case "x" :
                        response = await axios.put(backend,formData);
                        break;
                    case "/" :
                        response = await axios.delete(backend, {
                            // DELETE 방식으로 전송할 때는 data 속성을 사용해 FormData 객체를 그대로 전달해야 한다
                            data: formData
                        });
                        break;
                }

            } catch (error) {
                let alertMsg = null;
                console.log(error);
                
                if ( error.response?.data ) {
                    const data = error.response.data;
                    alertMsg = data.message;

                    console.error("Error occurred in the backend server.");
                    console.error( `[${data.status}] ${data.error}` );
                    console.error(data.trace);
                } else {
                    alertMsg = error.message;

                    console.error("Error occurred in the Axios.");
                    console.error( `[${error.code}] ${error.message}` );
                }

                alert(alertMsg);

                return;
            }

            //const ul = document.querySelector('.result');
            const li = document.createElement('li');
            li.innerHTML = response.data.x + ' ' + op + ' ' + response.data.y + ' = ' + response.data.result;
            
            document.querySelector(".result").appendChild(li);
            
        });

    </script>
</body> 
</html>